* {
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

.body {
  background-color: #efefef;
}

.md-font {
  font-family: 'Spectral', serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 4px;
  color: #1c1b1b;
}

.sm-font-black {
  font-family: 'Spectral', serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #1c1b1b;
}

.sm-font-white {
  font-family: 'Spectral', serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #ffffff;
}

.sm-font-grey {
  font-family: 'Spectral', serif !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  letter-spacing: 2.2px !important;
  color: #6a6a6a !important;
}

.border-none {
  border-top: none !important;
}

.dm-font {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  color: rgb(106, 106, 106);
}

.center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.margin-check {
  display: inline-block;
  position: relative;
}

.margin-check:after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #dee2e6;
  width: 97%;
  transform: translateX(-50%);
  bottom: -1rem;
  left: 50%;
}

.block {
  display: block;
}

.checkout-button {
  background-color: #2a1a46;
  border: none;
  outline: 0;
  padding: 1rem 2rem;
}

textarea {
  border: 1px solid #dee2e6;
  outline: 0;
  padding: 12px 14px;
  width: 340px;
  resize: none;
}

.btn-quantity {
  max-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.add-margin-left {
  margin-left: 2rem;
}

.add-margin-top {
  margin-top: 3rem;
}

.smest-font-grey {
  font-family: 'Spectral', serif !important;
  font-weight: 500 !important;
  font-size: 8px !important;
  letter-spacing: 2.2px !important;
  color: #6a6a6a !important;
}

.border-remove {
  border: none;
  padding: 1px !important;
  border-radius: 0 !important;
  outline: none;
  border-bottom: 1px solid #6a6a6a;
  cursor: pointer;
}

.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  padding: 1rem 2rem;
  /* margin: 0px 3px 6px; */
  text-align: center;
  border: 1px solid #2a1a45;
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
}

.hbtn i {
  padding-right: 8px;
}

.hb-fill-right::before {
  position: absolute;
  content: '';
  background: #efefef;
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
}

.hb-fill-right:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hb-fill-right:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
}

.price {
  margin-left: 74px;
}

@media screen and (max-width: 991px) {
  .shoe-image {
    margin-left: -2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .price {
    margin: 0 !important;
  }

  .shipping-text {
    margin-left: 1rem;
    text-align: end;
  }
  textarea {
    width: 285px;
  }
}

@media screen and (max-width: 576px) {
  .notes-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  textarea {
    width: 350px;
  }
  .shipping-text {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 575px) {
  .price-checkout {
    align-items: center !important;
  }
  .shipping-text {
    margin-left: 0 !important;
  }
  .hbtn {
    padding: 1rem 5rem !important;
    margin-bottom: 2rem;
  }
  .shoe-image {
    max-width: 75px;
  }
  .product-row{
    margin-left: .5rem
  }
}
